@tailwind base;
@tailwind components;
@tailwind utilities;

body.blacked-out {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4ebe4;
    z-index: 100;
}

#input {
    display: flex;
}